<section class="employeeComponent employeeSearch">
  <form>
    <fieldset>

      <legend>Search employee(s) to edit</legend>

      <section class="userInput">
        <section class="labels">
          <label for="srEmpUsername">Username:</label>
          <label for="srEmpName">Name:</label>
          <label for="srEmpSurname">Surname:</label>
          <label for="srEmpEmail">E-mail:</label>
        </section>

        <section class="inputs">
          <input type="text" id="srEmpUsername">
          <input type="text" id="srEmpName">
          <input type="text" id="srEmpSurname">
          <input type="email" id="srEmpEmail">
        </section>
      </section>
    </fieldset>

    <button type="reset">Reset</button>
    <button type="submit">Search</button>
  </form>
  <section class="employeeComponent srEmpResults resultList">
  </section>
</section>