<section class="employeeComponent employeeUpdate">
  <form>
    <fieldset>

      <legend>Update employee information</legend>

      <section class="userInput">
        <section class="labels">
          <label for="upEmp_id">ID:</label>
          <label for="upEmpUsername">Username:</label>
          <label for="upEmpName">Name:</label>
          <label for="upEmpSurname">Surname:</label>
          <label for="upEmpEmail">E-mail:</label>
        </section>

        <section class="inputs">
          <input type="text" id="upEmp_id" disabled>
          <input type="text" id="upEmpUsername" disabled>
          <input type="text" id="upEmpName" disabled>
          <input type="text" id="upEmpSurname" disabled>
          <input type="email" id="upEmpEmail" disabled>
        </section>
      </section>
    </fieldset>

    <fieldset>
      <legend>Change Password</legend>

      <section class="userInput">
        <section class="labelsSmall">
          <label for="crEmpNewpass1">New password:</label>
          <label for="crEmpNewpass2">Confirm password:</label>
        </section>

        <section class="inputsSmall">
          <input type="password" id="upEmpNewpass1">
          <input type="password" id="upEmpNewpass2">
        </section>
      </section>
    </fieldset>

    <fieldset>
      <legend>Delete employee account</legend>
      <section class="userInput">
        <section class="labelsSmall">
          <label for="upEmpDelete">Delete employee account</label>
        </section>

        <section class="inputsSmall">
          <input type="checkbox" id="upEmpDelete">
        </section>
      </section>
    </fieldset>

    <button type="submit">Update</button>
  </form>
</section>