<section class="appDash activityLog">
  <h1>Server activity log</h1>
  <button>Load server log</button>
  <section class="activityComponent"></section>
  <script src="./logic/components/activityLog.js"></script>
</section>