<section class="appDash employeeConfig">
  <h1>Employee settings</h1>
  <button class="employeeCreateBtn">New employee</button>
  <button class="employeeSearchBtn">Edit employee</button>
  <% include ./employee/employeeCreate %>
  <% include ./employee/employeeSearch %>
</section>