body {
  font: 1em Verdana, sans-serif;
  text-align: center;
  margin: 0px;
}

input, select {
  height: 1.1em;
}

input {
  width: 19em;
}

select {
  width: 20em;
}

input[type="checkbox"] {
  widows: 2em;
  width: 2em;
}

nav {
  height: 3em;
  border-color: #000;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.bookSearchResult th, td {
  border: 1px solid #000;
  padding: 5px;
}

.bookSearchResult caption {
  font-size: 2em;
  border-color: #000;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
}

.appBody {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid #000;
}

.appDash {
  display: none;
  width: 69%;
  border: 1px solid #000;
  padding: 5px;
  margin-top: 1em;
  margin-left: 28%;
  margin-right: 3%
}

.employeeComponent {
  display: none;
}

.userInput {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.labels, .inputs {
  height: 12em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.labelsSmall, .inputsSmall {
  height: 5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.inputs, .inputsSmall {
  align-items: flex-start;
}

.labels, .labelsSmall {
  align-items: flex-end;
}

table.bookSearchResult {
  display: none;
  width: 100%;
  border-collapse: collapse;
}

.loading {
  width: 100%;
  height: 100%;
  display: none;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  background-color: rgba(0, 0, 200, 0.5);
}

.loadingMsg {
  border: 1px solid #000;
  padding: 5px;
  background-color: #fff;
  color: #000;
}

.dashMenu {
  width: 25%;
  border-color: #000;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 7em;
  left: 0;
}

.dashMenu>button {
  width: 95%;
  font-size: 1em;
}

.resultList li {
  text-align: left;
  padding: 1em;
}