<section class="appBody bookSearch">
  <form>
    <fieldset>

      <legend>Search book(s)</legend>

      <section class="userInput">
        <section class="labels">
          <label for="idAuthor">Author:</label>
          <label for="idTitle">Title:</label>
          <label for="idYear">Year:</label>
          <label for="idLanguage">Language:</label>
        </section>

        <section class="inputs">
          <input type="text" id="idAuthor">
          <input type="text" id="idTitle">
          <input type="text" id="idYear">
          <input type="text" id="idLanguage">
        </section>
      </section>
    </fieldset>

    <button type="reset">Reset</button>
    <button type="submit">Search</button>
  </form>

  <table class="bookSearchResult">
    <caption>Your search results: <span class="numOfBooks"></span> book(s)</caption>
    <thead>
      <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Year</th>
        <th>Language</th>
        <th>Available</th>
      </tr>
    </thead>
    <tbody class="booksContainer">
    </tbody>
  </table>

  <script src="../logic/bookSearch.js" type="module"></script>
</section>