<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nineveh</title>
  <link rel="icon" type="image/icon" href="favicon.png">
  <link rel="stylesheet" type="text/css" href="./style/style.css">
  <!--jQuery-->
  <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>
  <!--Background Animation library-->
  <script src="./logic/other/Background.js"></script>
  <!--Nineveh library-->
  <script src="./logic/other/Nineveh.js"></script>
  <!--Main-->
  <script src="./logic/main.js"></script>
</head>

<body>
  <canvas id="animationCanvas"></canvas>
  <%- body%>
</body>

</html>