<% if (typeof err != "undefined") { %>
<% err.forEach( m => {%>
<p class="error"><%= m %></p>
<% }); %>
<% } %>

<% if (typeof suc != "undefined") { %>
<% suc.forEach( m => {%>
<p class="success"><%= m %></p>
<% }); %>
<% } %> 