<nav class="appBody">
  <span>Welcome <%= name %>!</span>
  <button class="accountConfigBtn">Settings</button>
  <a href="/logout">
    <button>Logout</button>
  </a>
</nav>
<script src="../logic/navDash.js"></script>