<section class="appBody userLogin">
  <h1>Please login!</h1>

  <% include ./msg %>

  <form action="/login" method="POST">
    <fieldset>
      <legend>User login:</legend>
      <section class="userInput">
        <section class="labels">
          <label for="idUsername">Username:</label>
          <label for="idPassword">Password:</label>
        </section>

        <section class="inputs">
          <input type="text" name="username" id="idUsername">
          <input type="password" name="password" id="idPassword">
        </section>
      </section>
    </fieldset>

    <button type="submit">Login</button>
  </form>
</section>