<% include ./components/navDefault %>
<section class="appBody">
  <h1>Welcome to Nineveh!</h1>
  <h3>- library software -</h3>
  <p class="textAlignJust">
    Nineveh application was made by Miloš Marković, as graduation project
    for JavaScript course, within IT prequalification training organized
    by National Employment Service and Comtrade Code Academy.
  </p>
  <p class="textAlignJust">
    Named after city that housed first library known to human history,
    Nineveh is software designed to facilitate library records management
    activities. <span class="emphasize">Key features are</span>:
    <ul class="textAlignJust">
      <li class="textAlignJust">
        <span class="emphasize">Handling database records:</span>
        <ul class="textAlignJust">
          <li class="textAlignJust">
            employee records, including: add, edit, or remove employee
            accounts;
          </li>
          <li class="textAlignJust">
            book collection records, including: add, edit, or remove
            books to/from collection;
          </li>
          <li class="textAlignJust">
            membership records, including: add, edit, or remove member
            accounts;
          </li>
        </ul>
      </li>
      <li class="textAlignJust">
        <span class="emphasize">
          Member-books interaction, including lending and returning books
          to/from members;
        </span>
      </li>
    </ul>
  </p>
  <p class="textAlignJust">
    For more information on setting up, and using application, further
    consult <a href="/usermanual.pdf" target="_blank">user manual</a>.
  </p>
</section>