<section class="bookComponent bookUpdate">
  <form>
    <fieldset>

      <legend>Update book information</legend>

      <section class="userInput">
        <section class="labels">
          <label for="upBk_id">ID:</label>
          <label for="upBkisAvailable">Available:</label>
          <label for="upBkAuthor">Author(s):</label>
          <label for="upBkTitle">Title:</label>
          <label for="upBkYear">Publication year:</label>
          <label for="upBkLanguage">Language:</label>
        </section>

        <section class="inputs">
          <input type="text" id="upBk_id" disabled>
          <input type="text" id="upBkisAvailable" disabled>
          <input type="text" id="upBkAuthor" required>
          <input type="text" id="upBkTitle" required>
          <input type="text" id="upBkYear" required>
          <select id="upBkLanguage" required>
            <option value="serbian">serbian</option>
            <option value="english">english</option>
          </select>
        </section>
      </section>
    </fieldset>

    <fieldset>
      <legend>Delete book</legend>
      <section class="userInput">
        <section class="labelsSmall">
          <label for="upBkDelete">Delete book:</label>
        </section>

        <section class="inputsSmall">
          <input type="checkbox" id="upBkDelete">
        </section>
      </section>
    </fieldset>

    <button type="submit">Update</button>
  </form>
</section>