<section class="bookComponent bookCreate">
  <form>
    <fieldset>
      <legend>Add new book to collection</legend>

      <section class="userInput">
        <section class="labels">
          <label for="crBkAuthor">Author(s):</label>
          <label for="crBkTitle">Title:</label>
          <label for="crBkYear">Publication year:</label>
          <label for="crBkLanguage">Language:</label>
        </section>

        <section class="inputs">
          <input type="text" id="crBkAuthor" required>
          <input type="text" id="crBkTitle" required>
          <input type="text" id="crBkYear" required>
          <input type="text" id="crBkLanguage" required>
        </section>
      </section>
    </fieldset>

    <button type="reset">Reset</button>
    <button type="submit">Save</button>
  </form>
</section>