<section class="appDash bookConfig">
  <h1>Book settings</h1>
  <button class="bookCreateBtn">New book</button>
  <button class="bookSearchBtn">Edit book</button>
  <% include ./bookCreate %>
  <% include ./bookSearch %>
  <% include ./bookUpdate %>
</section>