<section class="bookComponent bookSearch">
  <form>
    <fieldset>

      <legend>Search book(s)</legend>

      <section class="userInput">
        <section class="labels">
          <label for="srBkAuthor">Author(s):</label>
          <label for="srBkTitle">Title:</label>
          <label for="srBkYear">Publication year:</label>
          <label for="srBkLanguage">Language:</label>
        </section>

        <section class="inputs">
          <input type="text" id="srBkAuthor">
          <input type="text" id="srBkTitle">
          <input type="text" id="srBkYear">
          <input type="text" id="srBkLanguage">
        </section>
      </section>
    </fieldset>

    <button type="reset">Reset</button>
    <button type="submit">Search</button>
  </form>
  <section class="bookComponent srBkResults resultList">
  </section>
</section>