body {
  font: 1em Verdana, sans-serif;
  text-align: center;
}

input {
  height: 1em;
}

.bookSearchResult th, td {
  border: 1px solid #000;
  padding: 5px;
}

.bookSearchResult caption {
  font-size: 2em;
  border-color: #000;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
}

.bookSearch, .userLogin {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.labels, .inputs {
  height: 10em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.inputs {
  align-items: flex-start;
}

.labels {
  align-items: flex-end;
}

table.bookSearchResult {
  display: none;
  width: 100%;
  border-collapse: collapse;
}