<section class="appDash accountConfig">
  <h1>User account settings</h1>
  <form>
    <fieldset>
      <legend>Change password</legend>

      <section class="userInput">
        <section class="labelsSmall">
          <label for="accNewPassword1">New password:</label>
          <label for="accNewPassword2">Confirm new password:</label>
        </section>

        <section class="inputsSmall">
          <input type="password" id="accNewPassword1">
          <input type="password" id="accNewPassword2">
        </section>
      </section>

      <button type="submit">Change password</button>
    </fieldset>
  </form>

  <fieldset>
    <legend>Background animation</legend>
    <button type="button" class="bgAnimationBtn">Turn off</button>
  </fieldset>

  <fieldset>
    <legend>User manual</legend>
    <a href="/usermanual.pdf" target="_blank">
      <button type="button">Open user manual</button>
    </a>
  </fieldset>

  <script src="./logic/components/accountConfig.js"></script>
</section>