<section class="appDash accountConfig">
  <h1>User account settings</h1>
  <form>
    <fieldset>
      <legend>Change password</legend>

      <section class="input">
        <section class="labels">
          <label for="accCurrentPassword">Current password:</label>
          <label for="accNewPassword1">New password:</label>
          <label for="accNewPassword2">Confirm new password:</label>
        </section>

        <section class="inputs">
          <input type="password" id="accCurrentPassword">
          <input type="password" id="accNewPassword1">
          <input type="password" id="accNewPassword2">
        </section>
      </section>

      <button type="submit">Change password</button>
    </fieldset>
  </form>
</section>