<section class="membershipComponent membershipCreate">
  <form>
    <fieldset>
      <legend>Add new library member</legend>

      <section class="userInput">
        <section class="labels">
          <label for="crMemName">Name:</label>
          <label for="crMemSurname">Surname:</label>
          <label for="crMemAddress">Address:</label>
          <label for="crMemStatus">Status:</label>
        </section>

        <section class="inputs">
          <input type="text" id="crMemName" required>
          <input type="text" id="crMemSurname" required>
          <input type="text" id="crMemAddress" required>
          <select id="crMemStatus" required>
            <option value="student">student</option>
            <option value="employed">employed</option>
            <option value="unemployed">unemployed</option>
            <option value="retired">retired</option>
          </select>
        </section>
      </section>
    </fieldset>

    <button type="reset">Reset</button>
    <button type="submit">Save</button>
  </form>
</section>