<section class="appDash membershipConfig">
  <h1>Membership settings</h1>
  <button class="membershipCreateBtn">New library member</button>
  <button class="membershipSearchBtn">Edit library member</button>
  <% include ./membershipCreate %>
  <% include ./membershipSearch %>
  <% include ./membershipUpdate %>
  <script src="../logic/membershipConfig.js"></script>
</section>