<section class="membershipComponent membershipSearch">
  <form>
    <fieldset>

      <legend>Search for member(s) to edit</legend>

      <section class="userInput">
        <section class="labels">
          <label for="srMemName">Name:</label>
          <label for="srMemSurname">Surname:</label>
          <label for="srMemAddress">Address:</label>
          <label for="srMemStatus">Status:</label>
        </section>

        <section class="inputs">
          <input type="text" id="srMemName">
          <input type="text" id="srMemSurname">
          <input type="text" id="srMemAddress">
          <input type="text" id="srMemStatus">
        </section>
      </section>
    </fieldset>

    <button type="reset">Reset</button>
    <button type="submit">Search</button>
  </form>
  <section class="membershipComponent srMemResults resultList">
  </section>
</section>