<section class="appDash lendBooksConfig">
  <h1>Lend books</h1>
  <% include ./lendBooksSearch %>
  <% include ./lendBooksUpdate %>
  <script src="./logic/components/lendBooksConfig.js"></script>
</section>