<section class="appDash employeeConfig">
  <h1>Employee settings</h1>
  <button class="employeeCreateBtn">New employee</button>
  <button class="employeeSearchBtn">Edit employee</button>
  <% include ./employeeCreate %>
  <% include ./employeeSearch %>
  <% include ./employeeUpdate %>
  <script src="../logic/employeeConfig.js"></script>
</section>